In [4]:
# %load f1.py
print("SUBHAN QURESHI")
print("NAEEM QURESHI")
print("0349-1820278")
print("42201-1361726-9")

SUBHAN QURESHI
NAEEM QURESHI
0349-1820278
42201-1361726-9

In [22]:
print("Hello World")
print("Subhan","Qureshi",19,"Years")
print("Subhan","Qureshi",19,"Years",sep="**")
print("Subhan","Qureshi",19,"Years",end=" ")
print("Subhan\n","Qureshi")
print("Subhan","Qure's'hi",19,"Years")

Hello World
Subhan Qureshi 19 Years
Subhan**Qureshi**19**Years
Subhan Qureshi 19 Years Subhan
 Qureshi
Subhan Qure's'hi 19 Years

# DATA TYPE

In [27]:
names= ["Qasim","Mansoor","Waqar"]
type(names)

list

In [29]:
names= ("Qasim","Mansoor","Waqar")
type(names)

tuple

In [33]:
names= {"Qasim":"18",
        "Mansoor":"16",
        "Waqar":"14"}
type(names)

dict

In [35]:
a=True
a
type(a)

bool