In [1]:
#name() #pre define function
#ref/object.name() #pre define method
#operator

# String class method and attributes

In [7]:
a = "paKistan"
print(a.capitalize())
print(a.upper())
print(a.title())
print(a.lower())

Pakistan
PAKISTAN
Pakistan
pakistan

In [12]:
#help(print)
#print?
a.center??

In [15]:
abc = """
Saylani Welfare trust
karachi
"""
print(abc)

Saylani Welfare trust
karachi

In [22]:
Name : "Subhan"
Father_Name : "Naeem"
Roll_No : 231

abc = """
********PIAIC********
Saylani Welfare trust
Name : {}
Father Name : {}
Roll No : {}
"""

print(abc.format("Hamza", "Shamim" , 123))

********PIAIC********
Saylani Welfare trust
Name : Hamza
Father Name : Shamim
Roll No : 123

In [2]:
name = input("Enter Your Name : ")
f_name = input("Enter Your Father Name : ")
roll = int(input("Enter Your roll no."))
print(name,f_name,roll,sep="\n")

Enter Your Name : a
Enter Your Father Name : s
Enter Your roll no.123
a
s
123

In [3]:
##OPERATORS##
#pemdas

+,-,*,/,%,//,** #mathematics

=,+=,-+,*=,/=,%=,//+,**= #assign operator

==,>,<,>=,<= #logical operator

not and or is #combine logical operator

SyntaxError: invalid syntax (<ipython-input-3-c8a19aa6c683>, line 4)

In [7]:
# // float division
15%4
15/4
15//4

3

In [8]:
#pemdas
#mathematics
2 * 6 + (9**2) - 3 * 9 / 4

86.25

In [14]:
#assign operator
a = "pakistan"
a += " zindabad"
print(a)

pakistan zindabad

In [17]:

a = 3
a **= 2
a

9

In [18]:
#logical operator
5==5

True

In [19]:
5==3

False

In [20]:
5>3

True

In [21]:
5>5

False

In [22]:
5<3

False

In [23]:
5>=5

True

In [24]:
5<=5

True

In [25]:
5!=5

False

SyntaxError: invalid syntax (<ipython-input-26-4cd0be872957>, line 1)

In [27]:
#combine logical operator
5==5 and 6<7 and 7>=7

True

In [28]:
5==5 or 7<7 and 7>=7

True

In [30]:
a = "abc"
b = "xyz"
c = "27"

a + b + c

'abcxyz27'

In [32]:
a = "abc"
b = "xyz"
c = 27

a + b + str(c)

'abcxyz27'

In [33]:
a = "1"
b = "1"
a + b

'11'

In [35]:
a = "1"
b = "1"
int(a) + int(b) #type casting

2

In [36]:
# if,else,elif
if logic:
    true value
else:
    false value

SyntaxError: invalid syntax (<ipython-input-36-0aac0cf9ed8e>, line 3)

In [37]:
if logic1:
    true value 1
elif logic2:
    true value 2
elif logic3:
    true value 3
elif logic4:
    true value 4

SyntaxError: invalid syntax (<ipython-input-37-3b797e41970a>, line 2)

In [38]:
if logic1 and logic2 and logic3:
    value true
else:
    false value

SyntaxError: invalid syntax (<ipython-input-38-557fde1c895e>, line 2)

In [ ]:
name = input("Enter your name : ")

if (name.lower() == "qasim"):
    print("Teacher")
else:
    print("Student")

In [ ]:
per = 78

if per >= 80:
    print("A")
elif per >= 60 and per <40:
    print("B")
elif per >= 40:
    print("C")
else:
    print("Fail")

In [ ]:
names = ['Haris','Hamza','Hassan']

In [2]:
names = []
while True:
    a = input("names")
    if a!='x':
        names.append(a)
    else:
        break
print(names)

namesSubhan
namesHassan
namesOwais
namesx
['Subhan', 'Hassan', 'Owais']