In [29]:
a = "paKistan"
b = "Zindabad,jiye"
print(a.capitalize())
print(a.upper())
print(a.title())
print(a.lower())
print(a.casefold())
print(a.center(5))
print(a.count("a"))
print(a.find("s"))
#print(a.endswith("i"))
a = """
Name : {}
Father Name : {}
Roll No : {}
"""
print(a.format("Subhan", "Qureshi" , 123))
#print(a.join(b))
print(a.strip(b))

Pakistan
PAKISTAN
Pakistan
pakistan
pakistan
paKistan
2
4

Name : Subhan
Father Name : Qureshi
Roll No : 123


Name : {}
Father Name : {}
Roll No : {}

In [35]:
a = [1,2,3,4,5,6,7,8,9]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
a = [1,2,3,4,5,6,7,8,9]
a.clear()
print(a)

[]

In [47]:
a = [1,2,3,4,5,6,7,8,9]
a.count(a)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
a = [1,2,3,4,5,6,7,8,9]
a.insert(7,1)
print(a)

[1, 2, 3, 4, 5, 6, 7, 1, 8, 9]

In [56]:
a = [1,2,3,4,5,6,7,8,9]
a.extend("21")
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, '2', '1']

In [58]:
a = [1,2,3,4,5,6,7,8,9]
a.pop()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [63]:
a = [1,2,3,4,5,6,7,8,9]
a.reverse()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
a = [1,2,3,4,5,6,7,8,9]
a.remove(3)
print(a)

[1, 2, 4, 5, 6, 7, 8, 9]